html body {
	height: 100%;
}

body {
	background-color: #fff;
	overflow: scroll;
}

body, button, dl,dt,div,footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  outline: none;
}

* {
  position: relative;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

#investment-strategy-page {
  color: #333;
  font-size: 14px;
}

.banner > img {
  width: 100%;
}

.container-wrapper {
  margin: 0 auto;
  width: 1200px;
}


.router-wrapper {
  margin-top: 10px;
  height: 40px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  color: #999;
}

.router-wrapper > span {
  margin-right: 10px;
  cursor: pointer;
}

.router-wrapper > i {
  margin-right: 10px;
}

.router-wrapper > span:hover {
  text-decoration: underline;
}


.area-wrapper {
  margin-top: 40px;
}

.area-wrapper ul.items {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
}

.area-wrapper ul.items li.item {
  width: 90px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background: #b9b8b8;
  cursor: pointer;
}

.area-wrapper ul.items li.item:not(:first-child) {
  margin-left: 35px;
}

.area-wrapper ul.items li.item.on {
  background: #ee8300;
}


/* 投资攻略 */
.strategy-wrapper ul.items {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.strategy-wrapper ul.items li.item {
  margin-top: 70px;
  width: 380px;
  padding: 20px;
  box-shadow: 0 0 10px #bbb;
  border-radius: 10px;
  cursor: pointer;
}

.strategy-wrapper ul.items li.item:nth-child(3n+2),
.strategy-wrapper ul.items li.item:nth-child(3n+3) {
  margin-left: 30px;
}

.strategy-wrapper ul.items li.item > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.strategy-wrapper ul.items li.item .name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.strategy-wrapper ul.items li.item .hot-wrapper {
  margin-top: 10px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
}

.strategy-wrapper ul.items li.item .hot-wrapper .hot-box {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.strategy-wrapper ul.items li.item .hot-wrapper .hot-box > span {
  width: 74px;
  height: 29px;
  line-height: 29px;
  color: #fff;
  text-align: center;
  background: #ee8300;
}

.strategy-wrapper ul.items li.item .hot-wrapper .hot-box .star {
  padding: 0 10px;
  height: 29px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  border: 1px solid #ee8300;
}

.strategy-wrapper ul.items li.item .hot-wrapper .hot-box .star > img {
  width: 16px;
  height: 16px;
}

.strategy-wrapper ul.items li.item .img {
  margin-top: 20px;
  width: 100%;
}

.strategy-wrapper ul.items li.item .desc {
  margin-top: 15px;
}

.strategy-wrapper ul.items li.item .tag {
  margin-top: 30px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
}

.strategy-wrapper ul.items li.item .tag > span {
  padding: 0 15px;
  color: #ee8300;
  font-size: 16px;
  line-height: 18px;
}

.strategy-wrapper ul.items li.item .tag > span:not(:last-child) {
  border-right: 1px solid #ee8300;
}


/* 热门房产项目 */
.house-wrapper {
  margin-top: 90px;
}

.house-wrapper ul.items li.item {
  cursor: pointer;
}

.house-wrapper ul.items li.item:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.house-wrapper ul.items li.item > a {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding: 30px 0;
  color: #333;
}

.house-wrapper ul.items li.item .img > img {
  width: 430px;
  height: 247px;
}

.house-wrapper ul.items li.item .detail {
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  padding: 0 20px 0 40px;
}

.house-wrapper ul.items li.item .detail .name {
  font-weight: bold;
  font-size: 24px;
}

.house-wrapper ul.items li.item .detail .name:hover {
  color: #ee8300;
}

.house-wrapper ul.items li.item .detail .sub-name {
  margin-top: 15px;
  color: #999;
  font-size: 15px;
}

.house-wrapper ul.items li.item .detail .desc {
  margin-top: 20px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
}

.house-wrapper ul.items li.item .detail .desc > img {
  width: 20px;
  height: 20px;
}

.house-wrapper ul.items li.item .detail .desc > span {
  margin-left: 10px;
  padding-right: 5px;
  line-height: 18px;
}

.house-wrapper ul.items li.item .detail .desc > span:not(:last-child) {
  border-right: 1px solid #333;
}

.house-wrapper ul.items li.item .detail .location {
  margin-top: 15px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
}

.house-wrapper ul.items li.item .detail .location > img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.house-wrapper ul.items li.item .detail .tag {
  margin-top: 20px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.house-wrapper ul.items li.item .detail .tag > span {
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  font-size: 12px;
  background: #ee8300;
}

.house-wrapper ul.items li.item .detail .tag > span:not(:first-child) {
  margin-left: 15px;
}

.house-wrapper ul.items li.item .price-wrapper {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
}

.house-wrapper ul.items li.item .price-wrapper .price-box {
  text-align: center;
}

.house-wrapper ul.items li.item .price-wrapper .price-box .price {
  font-size: 24px;
  color: #ee8300;
}

.house-wrapper ul.items li.item .price-wrapper .price-box .price > span {
  font-size: 48px;
}

.house-wrapper ul.items li.item .price-wrapper .price-box .unit-price {
  font-size: 15px;
  color: #ee8300;
}

.house-wrapper .more-btn {
  margin: 20px auto 0;
  width: 115px;
  height: 34px;
  line-height: 34px;
  box-sizing: content-box;
  text-align: center;
  font-size: 16px;
  border-radius: 17px;
  border: 1px solid #ddd;
  cursor: pointer;
}


/* 热门移民项目 */
.immigrant-wrapper {
  margin-top: 80px;
  padding-bottom: 50px;
}

.immigrant-wrapper .items {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.immigrant-wrapper .items .item {
  margin-top: 40px;
  width: 380px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #aaa;
}

.immigrant-wrapper .items .item .img-box {
  height: 280px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.immigrant-wrapper .items .item .img-box > img {
  width: 100%;
  height: 100%;
}

.immigrant-wrapper .items .item .img-box > p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: rgba(0, 0, 0, .5);
}

.immigrant-wrapper .items .item .detail-box {
  padding: 20px 30px;
}

.immigrant-wrapper .items .item .detail-box .desc {
  margin-bottom: 20px;
  color: #999;
  font-size: 12px;
}

.immigrant-wrapper .items .item .detail-box .box {
  margin-top: 8px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
}

.immigrant-wrapper .items .item .detail-box .box .tag {
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  font-size: 12px;
  background: #ee8300;
}

.immigrant-wrapper .items .item .detail-box .box .val {
  margin: 0 10px;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
}

.immigrant-wrapper .items .item .detail-box .box .price {
  color: #ee8300;
  font-weight: bold;
}

.immigrant-wrapper .items .item .detail-box .box .price > span {
  font-size: 24px;
}

.immigrant-wrapper .items .item .btn-wrapper {
  margin: 0 auto;
  width: 320px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.immigrant-wrapper .items .item .btn-wrapper .btn {
  width: 140px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  background: #ee8300;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
}

.immigrant-wrapper .items .item .btn-wrapper .btn.appointment {
  background: #e04d36;
}


.page-footer {
  padding-top: 50px;
  background: #f2f2f2;
}

.page-footer .page-footer-wrapper {
  margin: 0 auto;
  width: 1200px;
}

/* 最新资讯 */
.news-box {
  margin-top: 20px;
}

.news-box .top-wrapper {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
}

.news-box .top-wrapper .news {
  width: 590px;
  height: 230px;
  cursor: pointer;
}

.news-box .top-wrapper .news:hover .img-wrapper > img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.news-box .top-wrapper .news .img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.news-box .top-wrapper .news .img-wrapper > img {
  width: 100%;
  height: 100%;
  transition: .6s;
}

.news-box .top-wrapper .news .name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background: rgba(0, 0, 0, .5);
}

.news-box .top-wrapper .inner-wrapper .box:first-child {
  margin-top: 0;
}

.news-box .bottom-wrapper {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
}

.news-box .box {
  margin-top: 10px;
  width: 590px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  cursor: pointer;
}

.news-box .box:hover .img-wrapper > img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.news-box .box .img-wrapper {
  width: 200px;
  height: 110px;
  overflow: hidden;
}

.news-box .box .img-wrapper > img {
  width: 100%;
  height: 100%;
  transition: .6s;
}

.news-box .box .right {
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  padding-left: 15px;
}

.news-box .box .right .name {
  font-size: 16px;
  font-weight: bold;
}

.news-box .box .right .desc {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}


/* 成功案例 */
.case-wrapper {
  margin-top: 50px;
}

.case-wrapper .case-box {
  padding: 30px 0;
}

.case-wrapper .case-box {
  width: 100%;
  overflow: hidden;
}

.case-wrapper .case-box .swiper-slide {
  cursor: pointer;
}

.case-wrapper .case-box .swiper-slide:hover .img-wrapper > img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.case-wrapper .case-box .swiper-slide .img-wrapper {
  width: 385px;
  height: 240px;
  overflow: hidden;
}

.case-wrapper .case-box .swiper-slide .img-wrapper > img {
  width: 385px;
  height: 240px;
  transition: .6s;
}

.case-wrapper .case-box .swiper-slide .name {
  margin-top: 20px;
  height: 44px;
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
}

.case-wrapper .case-box .swiper-slide .desc {
  margin-top: 15px;
  font-size: 12px;
  color: #999;
}

.case-wrapper .case-button-next,
.case-wrapper .case-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #f00;
  cursor: pointer;
  background: url(../../images/common/case-arrow.png) no-repeat center / 100% 100%;
  z-index: 1;
}

.case-wrapper .case-button-next {
  right: -20px;
  transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
}

.case-wrapper .case-button-prev {
  left: -20px;
  transform: translate(-100%, -50%) rotate(180deg);
  -ms-transform: translate(-100%, -50%) rotate(180deg);
  -moz-transform: translate(-100%, -50%) rotate(180deg);
  -webkit-transform: translate(-100%, -50%) rotate(180deg);
  -o-transform: translate(-100%, -50%) rotate(180deg);
}


/* 立即预约 */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s linear;
}

.appointment-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}

.appointment-wrapper .appointment-cont {
  width: 360px;
  padding-bottom: 20px;
  background: #fff;
  border-radius: 10px;
}

.appointment-wrapper .appointment-cont .head {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  padding-top: 10px;
}

.appointment-wrapper .appointment-cont .head > img {
  width: 155px;
  height: 54px;
}

.appointment-wrapper .appointment-cont .head > i {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.appointment-wrapper .appointment-cont .text {
  margin-top: 10px;
  padding: 0 25px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
}

.appointment-wrapper .appointment-cont .text > span {
  font-size: 16px;
}

.appointment-wrapper .appointment-cont .text > i {
  width: 100px;
  height: 1px;
  background: #ddd;
}

.appointment-wrapper .appointment-cont .cont form {
  margin-top: 10px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
}

.appointment-wrapper .appointment-cont .cont input {
  margin-top: 15px;
  width: 260px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ddd;
}

.appointment-wrapper .appointment-cont .cont textarea {
  margin-top: 15px;
  width: 260px;
  height: 90px;
  padding: 10px 15px;
  resize: none;
  border: 1px solid #ddd;
}

.appointment-wrapper .appointment-cont .cont .notice {
  margin-top: 10px;
  color: #f00;
  font-size: 12px;
  text-align: center;
}

.appointment-wrapper .appointment-cont .cont button {
  margin: 35px auto 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: #ee8300;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}
