<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>投资问答</title>
  <link type="text/css" rel="styleSheet" href="../../css/common.css" />
  <link type="text/css" rel="styleSheet" href="../../css/investment-strategy/question.css" />
</head>

<body>
  <main id="investment-strategy-question-page" v-cloak>
    <section class="container-wrapper">
      <div class="router-wrapper">
        <span>首页</span>
        <i>></i>
        <span>投资攻略</span>
        <i>></i>
        <span>投资问答</span>
      </div>

      <div class="detail-wrapper">
        <div class="detail-left-wrapper">
          <div class="filter-wrapper">
            <ul>
              <li v-for="(item, key) in filters" :key="key">
                <span class="text">{{ item.name }}：</span>
                <div class="val">
                  <span
                    :class="{ on: item.select == '不限' }"
                    @click="selectFilter(item, '不限')"
                  >
                    不限
                  </span>
                  <span
                    v-for="(el, i) in item.opts"
                    :key="i" :class="{ on: item.select == el }"
                    @click="selectFilter(item, el)">
                    {{ el }}
                  </span>
                </div>
              </li>
            </ul>
          </div>

          <div class="quesstion-wrapper">
            <div v-for="(item, index) in 10" :key="index" class="question-box">
              <div class="question">
                <span class="tag">问</span>
                <p>马来西亚房产现在有哪些优势？</p>
              </div>
              <div class="answer">
                1、投资门槛低，随着中国经济发展，海外投资不再只是富人的游戏，今天中国投资者们有很多...
              </div>
            </div>
            <div class="page-wrapper">
              <div class="page-box">
                <span>《</span>
                <span class="on">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>》</span>
              </div>
            </div>
          </div>
        </div>

        <div class="detail-right-wrapper">
          <div class="news-wrapper">
            <div class="header">
              <span class="text">百科资讯</span>
              <span class="more">更多 ></span>
            </div>
            <ul>
              <li v-for="(item, index) in 5" :key="index">
                <img src="../../images/overseas-property/detail/news.jpg" alt="">
                <p class="text-overflow-2">终于知道外国人怎么样在马来西亚买保险啦！</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="contact-wrapper">
        <div class="contact-box">
          <div class="left-box">
            <p class="title">
              免费咨询
            </p>
            <div class="input-box">
              <div class="input-left">
                <input type="text" placeholder="请输入您的姓名">
                <input type="text" placeholder="请输入您的电话">
                <input type="text" placeholder="请输入您的邮箱">
              </div>
              <div class="input-right">
                <textarea placeholder="请输入您想了解的更多信息"></textarea>
              </div>
            </div>
            <p class="tip">
              * 所有信息均已进行加密处理，请放心填写！
            </p>
            <div class="btn-wrapper">
              <div class="btn">
                立即提交
              </div>
            </div>
          </div>
          <div class="right-box">
            <div class="tel">
              <img src="../../images/common/tel.png" alt="">
              <span>24小时咨询热线</span>
            </div>
            <p class="number">
              4007-889-229
            </p>
            <div class="time">
              <img src="../../images/common/chat.png" alt="">
              <span>在线咨询，周一至周五，9:00 - 18:00</span>
            </div>
            <div class="btn">
              在线咨询
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-footer">
      <div class="page-footer-wrapper">
        <div class="project-recommend-wrapper">
          <div class="common-box-header">
            <p>热门房产项目</p>
            <p><a href="#">查看更多 > > ></a></p>
          </div>
          <div class="project-recommend-inner">
            <dl>
              <dt v-for="(item, index) in 4" :key="index">
                <div class="recommend-img-wrapper">
                  <img src="../../images/hot-recommend-list.jpg" alt="">
                  <span class="hot-logo">
                    热门
                  </span>
                  <p>价格：￥120万起</p>
                </div>
                <div class="recommend-desc-wrapper">
                  <p class="recommend-desc-title">
                    云会星光i云会星光i云会星光i星光
                  </p>
                  <div class="recommend-desc-info">
                    <span>
                      <p>吉隆坡</p>
                      <p>城市</p>
                    </span>
                    <span>
                      <p>公寓</p>
                      <p>类型</p>
                    </span>
                    <span>
                      <p>￥3.3万起</p>
                      <p>单价</p>
                    </span>
                    <span>
                      <p>30%</p>
                      <p>首付</p>
                    </span>
                  </div>
                </div>
              </dt>
            </dl>
          </div>
        </div>

        <div class="overseas-wrapper">
          <div class="common-box-header">
            <p>热门移民项目</p>
            <p><a href="#">查看更多 > > ></a></p>
          </div>
          <div class="overseas-bottom-list-wrapper">
            <div class="overseas-bottom-list">
              <img src="../../images/overseas-bottom-list1.jpg">
              <div class="overseas-bottom-list-desc">
                <p>土耳其购房</p>
                <p>12.7万欧起</p>
                <p>
                  <span>永久产权</span>
                  <span>永无移民监</span>
                  <span>三个月</span>
                </p>
              </div>
            </div>
            <div class="overseas-bottom-list">
              <img src="../../images/overseas-bottom-list2.jpg">
              <div class="overseas-bottom-list-desc">
                <p>土耳其购房</p>
                <p>12.7万欧起</p>
                <p>
                  <span>永久产权</span>
                  <span>永无移民监</span>
                  <span>三个月</span>
                </p>
              </div>
            </div>
            <div class="overseas-bottom-list">
              <img src="../../images/overseas-bottom-list3.jpg">
              <div class="overseas-bottom-list-desc">
                <p>土耳其购房</p>
                <p>12.7万欧起</p>
                <p>
                  <span>永久产权</span>
                  <span>永无移民监</span>
                  <span>三个月</span>
                </p>
              </div>
            </div>
            <div class="overseas-bottom-list">
              <img src="../../images/overseas-bottom-list4.jpg">
              <div class="overseas-bottom-list-desc">
                <p>土耳其购房</p>
                <p>12.7万欧起</p>
                <p>
                  <span>永久产权</span>
                  <span>永无移民监</span>
                  <span>三个月</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <script src="../../utils/vue.js"></script>
  <script src="../../js/investment-strategy/question.js"></script>
</body>
</html>