.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-2,
.text-overflow-3 {
  word-break: break-all;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-overflow-2 { -webkit-line-clamp: 2; }
.text-overflow-3 { -webkit-line-clamp: 3; }

.common-box-header {
	height: 60px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
	border-bottom: 1px solid #ddd;
}
.common-box-header a {
	color: #000;
	text-decoration: none;
}
.nav-wrapper .header-nav .nav-list .on{
	color: #ee8300;
}

.common-box-header a:hover {
	color: #ee8300;
}
.common-box-header > p {
	font-size: 24px;
	line-height: 55px;
	font-weight: 600;
}
.common-box-header > p span:last-child {
	font-size: 13px;
	font-weight: 100px;
	color: #88898a;
}
.common-box-header > p:last-child {
	font-size: 12px;
	line-height: 55px;
}


/*
* 新添加的样式
 */
/*分页样式*/
#introduction-index-page .banner img{
	height:320px;
}
.page-wrapper .pagination li{
	width: 30px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ddd;
	cursor: pointer;
	float: left;
	margin: 7px;
}
.page-wrapper .pagination li.active {
	color: #fff;
	background: #ee8300;
	border-color: #ee8300;
}

a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: #ee8300;
}
special-a:hover{
	color: #000 !important;
}
.router-wrapper {
	margin-top: 30px !important;
}
.filter-wrapper > ul > li .val > span.on a {
	color: #ee8300;
}

*{text-decoration: none !important;}
.none-pointer{
	cursor : auto !important;
}

.question-box .none-pointer p:hover{
	color: #000 !important;
}
.none-pointer p:hover{
	color: #000 !important;
}
.router-wrapper span{
	cursor : auto !important;
}

.recommend-desc-wrapper .recommend-desc-title:hover {
	color: #333;
}
.bg-black{
	width: 100%;
	height: 100%;
	padding: 0 0;
	background: rgba(0, 0, 0, .5);
}

.project-recommend-inner dl:after{
	content: '';
	width: 292px;
}

.overseas-bottom-list-wrapper .overseas-bottom-list:after{
	content: '';
	width: 287px;
}
.list-wrapper .items .item:after{
	content: '';
	width: 380px;

}

.overseas-bottom-list .overseas-bottom-list-desc {
	bottom: 3px !important;
	height: 149px !important;
}
.overseas-bottom-list .overseas-bottom-list-desc p:last-child {
	font-size: 12px !important;
}
.no-color{
	color:#fff !important;
}

.no-color:hover{
	color: #fff !important;
}

/*右边悬浮框的样式*/
.web_components_sidebar_info .sidebar_right-phone{
	width: 110px;
	height: 20px;
	line-height: 20px;
	padding: 18px;
	top: 27%;
	position: fixed;
	right: 115px;
	z-index: 1000;
	background-color: #000;
	color: #fff;
	display:none;
	border-radius: 10px;
}
.web_components_sidebar_info .sidebar_right-phone:hover{
	cursor: pointer;
}

.web_components_sidebar_info .sidebar_right-wechat{
	top: 62%;
	position: fixed;
	right: 115px;
	z-index: 1000;
	display:none;
}
.web_components_sidebar_info .sidebar_right-wechat:hover{
	cursor: pointer;
}
.web_components_sidebar_info .sidebar_right-wechat img{
	width: 110px;
	height: 110px;
}


/*回到顶部等几个按钮*/
.web_components_sidebar{
	width: 76px;
	height: 410px;
	/*background-color: red;*/
	position: fixed;
	right: 30px;
	/*bottom: 10%;*/
	top: 25%;
	z-index: 1000;
}
.web_components_sidebar-item{
	margin-top: 5px;
}
.web_components_sidebar a,.web_components_sidebar img{
	width: 76px;
	height: 78px;
	display: block;
}

