body, button, div,footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    outline: none;
}
.header-inner-wrapper{
	
}
.header-inner-wrapper a{
	text-decoration: none;
	color: #fff;
}
.header-wrapper ul{
	list-style: none;
	/*margin:0;*/
	padding: 0;
}
.header-wrapper{
	position: relative;
	width:100%;
	background-color: #1a1c1c;
}
.header-inner-wrapper{
	width: 1200px;
	height: 80px;
	margin:0 auto;
	/*max-width: 1920px;*/
}
.nav-wrapper{
	float: left;
	position: relative;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	padding-left: 91px;
}
.header-logo{
	position: absolute;
	top: 0;
	left: 0;
	width: 91px;
	height: 100px;
	z-index: 1;
}
.header-logo img{
	width:91px;
	height:100px;
}
.header-nav{
	height: 80px;
	color: #fff;
	margin-left: 30px;
	float: left;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	line-height: 80px;
	font-size: 18px;
}
.header-nav li{
	position: relative;
	margin-left: 10px;

}
.header-nav li .active{
	color: #ee8300
}

.header-nav li .sub-nav {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
	display: none;
	z-index: 1;
}

.header-nav li .sub-nav .arrow {
	height: 14px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
}

.header-nav li .sub-nav .arrow > i {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid  rgba(0, 0, 0, .7);
}

.header-nav li .sub-nav .sub {
	min-width: 110px;
	background: rgba(0, 0, 0, .7);
	border-radius: 5px;
}

.header-nav li .sub-nav .sub > a {
	display: block;
	padding: 0 5px;
	line-height: 40px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}

.header-nav li .sub-nav .sub > a:not(:last-child) {
	border-bottom: 1px solid #444;
}


.header-phone{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	line-height: 37px;
	margin-top: 30px;
	background:url("../images/header-phone-icon.jpeg") no-repeat;
	float: right;
}
.header-phone span{
	margin-left: 50px;
}

