html body {
	height: 100%;
}

body {
	background-color: #fff;
	overflow: scroll;
}

body, button, dl,dt,div,footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  outline: none;
}

* {
  position: relative;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

#immigrant-page {
  color: #333;
  font-size: 14px;
}

.banner > img {
  width: 100%;
}

.container-wrapper {
  margin: 0 auto;
  width: 1200px;
}


.router-wrapper {
  margin-top: 10px;
  height: 40px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  color: #999;
}

.router-wrapper > span {
  margin-right: 10px;
  cursor: pointer;
}

.router-wrapper > i {
  margin-right: 10px;
}

.router-wrapper > span:hover {
  text-decoration: underline;
}


.filter-wrapper > ul {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.filter-wrapper > ul > li {
  height: 40px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
}

.filter-wrapper > ul > li .text {
  font-weight: bold;
}

.filter-wrapper > ul > li .val {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.filter-wrapper > ul > li .val > span {
  margin-left: 14px;
  padding: 0 7px;
  line-height: 22px;
  cursor: pointer;
}

.filter-wrapper > ul > li .val > span:hover {
  text-decoration: underline;
}

.filter-wrapper > ul > li .val > span.on {
  color: #fff;
  background: #ee8300;
  border-radius: 11px;
}


.list-wrapper .items {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.list-wrapper .items .item {
  margin-top: 60px;
  width: 380px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #aaa;
}

.list-wrapper .items .item .img-box {
  height: 280px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-wrapper .items .item .img-box > img {
  width: 100%;
  height: 100%;
}

.list-wrapper .items .item .img-box > p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: rgba(0, 0, 0, .5);
}

.list-wrapper .items .item .detail-box {
  padding: 20px 30px;
}

.list-wrapper .items .item .detail-box .desc {
  margin-bottom: 20px;
  color: #999;
  font-size: 12px;
}

.list-wrapper .items .item .detail-box .box {
  margin-top: 8px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
}

.list-wrapper .items .item .detail-box .box .tag {
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  font-size: 12px;
  background: #ee8300;
}

.list-wrapper .items .item .detail-box .box .val {
  margin: 0 10px;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
}

.list-wrapper .items .item .detail-box .box .price {
  color: #ee8300;
  font-weight: bold;
}

.list-wrapper .items .item .detail-box .box .price > span {
  font-size: 24px;
}

.list-wrapper .items .item .btn-wrapper {
  margin: 0 auto;
  width: 320px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

.list-wrapper .items .item .btn-wrapper .btn {
  width: 140px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  background: #ee8300;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
}

.list-wrapper .items .item .btn-wrapper .btn.appointment {
  background: #e04d36;
}


.test {
  margin-top: 86px;
  cursor: pointer;
}

.test > img {
  width: 100%;
}


/* 立即预约 */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s linear;
}

.appointment-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}

.appointment-wrapper .appointment-cont {
  width: 360px;
  padding-bottom: 20px;
  background: #fff;
  border-radius: 10px;
}

.appointment-wrapper .appointment-cont .head {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  padding-top: 10px;
}

.appointment-wrapper .appointment-cont .head > img {
  width: 155px;
  height: 54px;
}

.appointment-wrapper .appointment-cont .head > i {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.appointment-wrapper .appointment-cont .text {
  margin-top: 10px;
  padding: 0 25px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
}

.appointment-wrapper .appointment-cont .text > span {
  font-size: 16px;
}

.appointment-wrapper .appointment-cont .text > i {
  width: 100px;
  height: 1px;
  background: #ddd;
}

.appointment-wrapper .appointment-cont .cont form {
  margin-top: 10px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
}

.appointment-wrapper .appointment-cont .cont input {
  margin-top: 15px;
  width: 260px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ddd;
}

.appointment-wrapper .appointment-cont .cont textarea {
  margin-top: 15px;
  width: 260px;
  height: 90px;
  padding: 10px 15px;
  resize: none;
  border: 1px solid #ddd;
}

.appointment-wrapper .appointment-cont .cont .notice {
  margin-top: 10px;
  color: #f00;
  font-size: 12px;
  text-align: center;
}

.appointment-wrapper .appointment-cont .cont button {
  margin: 35px auto 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: #ee8300;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}
