<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>百科资讯</title>
  <link type="text/css" rel="styleSheet" href="../../css/common.css" />
  <link type="text/css" rel="styleSheet" href="../../css/news/detail.css" />
  <link type="text/css" rel="styleSheet" href="../../utils/sharejs/css/share.min.css" />
</head>

<body>
  <main id="news-detail-page" v-cloak>
    <section class="container-wrapper">
      <div class="router-wrapper">
        <span>首页</span>
        <i>></i>
        <span>百科咨询</span>
        <i>></i>
        <span>2020年10月份云顶1号最新进展，建筑主体进展一切顺利</span>
      </div>

      <div class="detail-wrapper">
        <div class="detail-left-wrapper">
          <div class="news-wrapper">
            <p class="title">
              2020年10月份云顶1号最新进展，建筑主体进展一切顺利
            </p>
            <div class="info-box">
              <div class="info">
                <span>时间：2020-12-18</span>
                <span>阅读量：1360 次</span>
              </div>
              <div class="share-btn" @click="isShareShow = !isShareShow">
                <img src="../../images/overseas-property/detail/share.png" alt="">
                <span>分享</span>
                <div v-show="isShareShow" class="share-wrapper" @click.stop="">
                  <div id="share"></div>
                </div>
              </div>
            </div>
            <div class="detail">
              文章详情...
            </div>

            <div class="about-wrapper">
              <div class="header">
                <span>相关内容：</span>
                <span class="text">柬埔寨经济</span>
                <span class="text">石油</span>
                <span class="text">泰国湾</span>
              </div>
              <div class="next-box">
                <div class="inner">
                  <span class="tag">上一篇</span>
                  <span class="title text-overflow-1">一张图看懂 东南亚下一个投资机会在哪里？</span>
                </div>
                <div class="inner">
                  <span class="tag">下一篇</span>
                  <span class="title text-overflow-1">美国移民局恐破产拟涨申请费 绿卡和H-1B受影响</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="detail-right-wrapper">
          <div class="hot-wrapper">
            <div class="header">
              <span class="text">热门投资主题</span>
              <span class="more">更多 ></span>
            </div>
            <div class="cont">
              <div v-for="(item, index) in 3" :key="index" class="hot-box">
                <img src="../../images/news/index/img.jpg" alt="">
                <p class="name text-overflow-2">
                  100万人民币可以买哪些项目？
                </p>
                <p class="desc text-overflow-2">
                  如果您的投资预算是在100万人民币以内，那么这些项目千万别错过！
                </p>
              </div>
            </div>
          </div>
          <div class="quesstion-wrapper">
            <div class="header">
              <span class="text">投资问答</span>
              <span class="more">更多 ></span>
            </div>
            <div class="cont">
              <div v-for="(item, index) in 4" :key="index" class="question-box">
                <div class="question">
                  <span class="tag">问</span>
                  <p>马来西亚房产现在有哪些优势？</p>
                </div>
                <div class="answer text-overflow-2">
                  1、投资门槛低，随着中国经济发展，海外投资不再只是富人的游戏，今天中国投资者们有很多...
                </div>
              </div>
            </div>
          </div>
          <img src="../../images/news/index/ad.jpg" class="ad">
        </div>
      </div>
    </section>

    <section class="page-footer">
      <div class="page-footer-wrapper">
        <div class="project-recommend-wrapper">
          <div class="common-box-header">
            <p>热门房产项目</p>
            <p><a href="#">查看更多 > > ></a></p>
          </div>
          <div class="project-recommend-inner">
            <dl>
              <dt v-for="(item, index) in 4" :key="index">
                <div class="recommend-img-wrapper">
                  <img src="../../images/hot-recommend-list.jpg" alt="">
                  <span class="hot-logo">
                    热门
                  </span>
                  <p>价格：￥120万起</p>
                </div>
                <div class="recommend-desc-wrapper">
                  <p class="recommend-desc-title">
                    云会星光i云会星光i云会星光i星光
                  </p>
                  <div class="recommend-desc-info">
                    <span>
                      <p>吉隆坡</p>
                      <p>城市</p>
                    </span>
                    <span>
                      <p>公寓</p>
                      <p>类型</p>
                    </span>
                    <span>
                      <p>￥3.3万起</p>
                      <p>单价</p>
                    </span>
                    <span>
                      <p>30%</p>
                      <p>首付</p>
                    </span>
                  </div>
                </div>
              </dt>
            </dl>
          </div>
        </div>

        <div class="overseas-wrapper">
          <div class="common-box-header">
            <p>热门移民项目</p>
            <p><a href="#">查看更多 > > ></a></p>
          </div>
          <div class="overseas-bottom-list-wrapper">
            <div class="overseas-bottom-list">
              <img src="../../images/overseas-bottom-list1.jpg">
              <div class="overseas-bottom-list-desc">
                <p>土耳其购房</p>
                <p>12.7万欧起</p>
                <p>
                  <span>永久产权</span>
                  <span>永无移民监</span>
                  <span>三个月</span>
                </p>
              </div>
            </div>
            <div class="overseas-bottom-list">
              <img src="../../images/overseas-bottom-list2.jpg">
              <div class="overseas-bottom-list-desc">
                <p>土耳其购房</p>
                <p>12.7万欧起</p>
                <p>
                  <span>永久产权</span>
                  <span>永无移民监</span>
                  <span>三个月</span>
                </p>
              </div>
            </div>
            <div class="overseas-bottom-list">
              <img src="../../images/overseas-bottom-list3.jpg">
              <div class="overseas-bottom-list-desc">
                <p>土耳其购房</p>
                <p>12.7万欧起</p>
                <p>
                  <span>永久产权</span>
                  <span>永无移民监</span>
                  <span>三个月</span>
                </p>
              </div>
            </div>
            <div class="overseas-bottom-list">
              <img src="../../images/overseas-bottom-list4.jpg">
              <div class="overseas-bottom-list-desc">
                <p>土耳其购房</p>
                <p>12.7万欧起</p>
                <p>
                  <span>永久产权</span>
                  <span>永无移民监</span>
                  <span>三个月</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="../../utils/sharejs/js/qrcode.js"></script>
  <script src="../../utils/sharejs/js/social-share.js"></script>
  <!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <script src="../../utils/vue.js"></script>
  <script src="../../js/news/detail.js"></script>
</body>
</html>